:root {
    --div-back: #2ec771;
    --back-accent: #2e7d32;
    --accent: #64b5f6;
    --text-color: white;
}

body {
    background: var(--div-back);
}

.hero {
    text-align: center;
    position: relative;
    color: var(--text-color);
    
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Brush Script MT', cursive;
    font-size: 8vw;
}

.order {
    display: flex;

}

.order a {
    background-image: linear-gradient(#64b5f6, rgb(119, 119, 244));
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 300px;
    margin: 5rem 2% 2rem 2%;
    border: 1px outset buttonborder;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
}

.products {
    background-color: var(--back-accent);
    padding: 2rem;
    height: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.products img {
    width: 100%;
    height: auto;
}

.show {
    border: 1px solid black;
    padding: 5px;
    background: white;
}

footer {
    background: white;
}